@import 'null.scss';
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;600&family=Raleway:wght@300;400;700&family=Roboto+Serif:ital,opsz,wght@1,8..144,100;1,8..144,200&display=swap');

$color-black:#2D2D2D;
$color-white:#FFFFFF;

html {
	height: 100%;
	
	body {
		height: 100%;
	}
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	
	.container-header {
		background-color: $color-white;
		margin: auto;
		max-width: 1280px;
		height: 80px;
		padding: 0 20px;
		
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		@media (max-width: 475px) {
			justify-content: center;
		}
	}
	
	&__logo {
		color: $color-black;
		font-family: 'Epilogue';
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 30px;
		
		@media (max-width: 475px) {
			align-items: center;
		}
	}
	
	&__link {
		display: flex;
		gap: 50px;
		text-decoration-line: underline;
		
		@media (max-width: 475px) {
			display: none;
		}
		
		a {
			color: $color-black;
			font-family: 'Epilogue';
			font-style: normal;
			font-weight: 400;
			font-size: 17px;
			line-height: 27px;
		}
	}
}

main {
	flex: 1 1 auto;
	
	.container-main {
		background-color: $color-white;
		max-width: 1180px;
		margin: auto;
		padding: 0 20px;
		
		.section-headline {
			background: $color-white;
			margin-top: 93px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			
			@media (max-width: 570px) {
				flex-direction: column;
				gap: 70px;
			}
			
			&__text {
				max-width: 463px;
				
				@media (max-width: 570px) {
					align-items: center;
				}
				
				p {
					font-family: Epilogue;
				}
				
				p:first-child {
					font-size: 20px;
					font-weight: 600;
					line-height: 30px;
					
					@media (max-width: 570px) {
						text-align: center;
					}
				}
				
				p:nth-child(2) {
					font-size: 100px;
					font-weight: 600;
					line-height: 102.5px;
					margin: 46px 0 50px 0;
					
					@media (max-width: 570px) {
						text-align: center;
						font-size: 65px;
						line-height: 66px;
					}
				}
				
				p:last-child {
					max-width: 417px;
					font-size: 17px;
					font-weight: 400;
					line-height: 27px;
					
					@media (max-width: 570px) {
						max-width: unset;
						text-align: center;
						line-height: 27px;
					}
				}
			}
			
			&__image {
				position: relative;
				
				img {
					max-width: 100%;
				}
				
				// .img::before {
				// 	content: url(/figma/images/arrow3.svg);
				// 	position: absolute;
				// 	z-index: 3;
				// 	right: 80%;
				// 	top: 5%;
				// }
				
				// .img::after {
				// 	content: url(/figma/images/arrow.png);
				// 	position: absolute;
				// 	left: 83%;
				// 	top: 85%;
				// }
				
				// .decorator-img {
				// 	position: absolute;
					
				// 	&:first-child {
				// 		left: 298px;
				// 		bottom: 435px;
				// 	}
					
				// 	&:last-child {
				// 		bottom: 64px;
				// 		right: 346px;
				// 	}
				// }
			}
		}
		
		.section-social {
			background-color: $color-white;
			margin-top: 160px;
			
			@media (max-width: 570px) {
				align-items: center;
				padding: 0 35px;
			}
			
			&__icons {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				column-gap: 100px;
				row-gap: 20px;

				@media (max-width: 570px) {
					align-items: center;
					// margin: 0 35px;
				}
			}
		}
		
		.section-products {	
			background-color: $color-white;
			margin-top: 160px;
			display: flex;
			justify-content: center;
			gap: 140px;
			flex-wrap: wrap;
			align-items: center;
			
			@media (max-width: 570px) {
				margin-top: 50px;
				gap: 30px;
			}
			
			&__box {
				// width: 30%;
				padding: 60px 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				
				@media (max-width: 570px) {
					justify-content: center;
					width: 100%;
				}
				
				.caption {
					font-family: Epilogue;
					font-size: 27px;
					font-weight: 600;
					line-height: 42px;
					margin: 63px 0 19px 0;
				}
				
				p {
				max-width: 250px;
				font-family: Epilogue;
				font-size: 17px;
				font-weight: 400;
				line-height: 27px;
				}
				
				img {
					height: 130px;
				}
				
				.image-1 {
					position: relative;
					
					&::after {
						content: url(/figma/images/arrow2.svg);
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%) rotate(135deg);
					}
				}
				
				.image-2 {
					position: relative;
					
					&::after {
						content: url(/figma/images/arrow3.svg);
						position: absolute;
						top: 10%;
						left: 50%;
						transform: rotate(90deg);
					}
				}
				
				.image-3 {
					position: relative;
					
					&::after {
						content: url(/figma/images/arrow1.svg);
						position: absolute;
						top: 55%;
						right: 55%;
					}
				}
			}
		}
		
		.section {
			background-color: $color-white;
			margin-top: 160px;
			
			@media (max-width: 570px) {
				margin-top: 50px;
			}
			
			.title {
				font-family: 'Epilogue';
				font-weight: 600;
				font-size: 32px;
				line-height: 37px;
				text-align: center;
				margin-bottom: 55px;
			}
			
			.container {
				display: flex;
				gap: 45px;
				justify-content: center;
				flex-wrap: wrap;
			}
		}
		
		.section-works {
			
			&__box {
				max-width: 330px;
				
				img {
					max-width: 100%;
				}
				
				h3 {
					font-family: Epilogue;
					font-size: 20px;
					font-weight: 600;
					line-height: 30px;
					// text-align: left;
					margin: 25px 0 10px 0;
				}
				
				p {
					font-family: 'Epilogue';
					font-style: normal;
					font-weight: 400;
					font-size: 17px;
					line-height: 27px;
				}
			}
		}
		
		.section-comments {
			
			@media (max-width: 570px) {
				margin-top: 100px;
			}
			
			&__review {
				max-width: 330px;
				background-color: #F3F3F3;
				padding: 25px;
				
				.text {
					
					p {
						font-family: Epilogue;
						font-size: 20px;
						font-weight: 600;
						line-height: 30px;
						// text-align: left;
					}
				}
				
				.clients {
					margin-top: 134px;
					display: flex;
					gap: 17px;
					
					.evaluation {
						
						p {
							max-width: 135px;
							font-family: Epilogue;
							font-size: 17px;
							font-weight: 400;
							line-height: 27px;
							// text-align: left;
						}
					}
				}
			}
		}
	}
}

.footer {
	margin-top: 160px;
	padding-bottom: 100px;
	
	@media (max-width:570px) {
		padding-bottom: 40px;
	}
	
	&__container {
		background-color: $color-white;
		max-width: 1180px;
		margin: auto;
		padding: 0 20px;
		
		display: flex;
		gap: 190px;
		justify-content: center;
		flex-wrap: wrap;
		
		@media (max-width: 570px) {
			gap: 110px;
		}
	}
	
	&__information {
		
		.text {
			max-width: 360px;
			
			h2 {
				font-family: Epilogue;
				font-size: 32px;
				font-weight: 600;
				line-height: 42px;
				margin-bottom: 35px;
			}
			
			P {
				font-family: Epilogue;
				font-size: 17px;
				line-height: 27px;
			}
		}
		
		.icons {
			display: flex;
			gap: 19px;
			align-items: center;
			margin-top: 55px;
			
				a {
					display: block;
					max-width: fit-content;
				}
			
			svg {
				width: 30px;
			}
		}
	}
	
	&__form {
		min-width: 530px;
		
		@media (max-width: 570px) {
			min-width: unset;
			width: 100%;
			gap: 50px;
		}
		
		.user-data {
			display: flex;
			flex-direction: column;

			@media (max-width: 570px) {
				gap: 15px;
			}
			
			.info {
				background-color: #F3F3F3;
				padding: 20px;
				
				font-family: Epilogue;
				font-size: 17px;
				line-height: 27px;
			}
			
			.textarea {
				height: 215px;
			}
		}
		
		button {
			background-color: $color-black;
			padding: 25px 82px;
			margin-top: 43px;
			
			font-family: Epilogue;
			font-size: 20px;
			font-weight: 600;
			line-height: 30px;
			text-align: center;
			color: $color-white;
			
			@media (max-width: 570px) {
				width: 100%;
				padding: 25px 0;
			}
			
			&:hover {
				text-decoration-line: underline;
				text-decoration-color: rgb(196, 196, 196);
			}
		}
	}
}
