@import 'null.scss';
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;600&family=Raleway:wght@300;400;700&family=Roboto+Serif:ital,opsz,wght@1,8..144,100;1,8..144,200&display=swap');

$color-black:#2D2D2D;
$color-white:#FFFFFF;

// html {
// 	height: 100%;

// 	body {
// 		height: 100%;
// 	}
// }

body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	
	.container-header {
		background-color: $color-white;
		margin: auto;
		max-width: 1280px;
		height: 80px;
		padding: 0 20px;
		
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	&__logo {
		color: $color-black;
		font-family: 'Epilogue';
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 30px;
	}
	
	&__link {
		display: flex;
		gap: 50px;
		text-decoration-line: underline;
		
		a {
			color: $color-black;
			font-family: 'Epilogue';
			font-style: normal;
			font-weight: 400;
			font-size: 17px;
			line-height: 27px;
		}
	}
}

main {
	flex: 1 1 auto;
	
	.container-main {
		background-color: $color-white;
		max-width: 1180px;
		margin: auto;
		padding: 0 20px;
		
		.section-headline {
			background: $color-white;
			margin-top: 93px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			
			&__text {
				max-width: 463px;
				
				p {
					font-family: Epilogue;
					text-align: left;
				}
				
				p:first-child {
					font-size: 20px;
					font-weight: 600;
					line-height: 30px;
				}
				
				p:nth-child(2) {
					font-size: 100px;
					font-weight: 600;
					line-height: 102.5px;
					margin: 46px 0 50px 0;
				}
				
				p:last-child {
					max-width: 417px;
					font-size: 17px;
					font-weight: 400;
					line-height: 27px;
				}
			}
			
			&__image {
				position: relative;
				
				.img::before {
					content: url(/figma/images/arrow3.svg);
					position: absolute;
					z-index: 3;
					right: 330px;
					top: 23px;
				}
				
				.img::after {
					content: url(/figma/images/arrow.png);
					position: absolute;
					left: 342px;
					top: 463px;
				}
				
				.decorator-img {
					position: absolute;
					
					&:first-child {
						left: 298px;
						bottom: 435px;
					}
					
					&:last-child {
						bottom: 64px;
						right: 346px;
					}
				}
			}
		}
		
		.section-social {
			background-color: $color-white;
			margin-top: 160px;
			
			&__icons {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
				gap: 50px;
			}
		}
		
		.section-products {	
			background-color: $color-white;
			margin-top: 160px;
			display: flex;
			justify-content: center;
			gap: 140px;
			flex-wrap: wrap;
			align-items: center;
			
			&__box {
				// width: 30%;
				padding: 60px 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				
				.caption {
					font-family: Epilogue;
					font-size: 27px;
					font-weight: 600;
					line-height: 42px;
					margin: 63px 0 19px 0;
				}
				
				p {
				max-width: 250px;
				font-family: Epilogue;
				font-size: 17px;
				font-weight: 400;
				line-height: 27px;
				}
				
				img {
					height: 130px;
				}
				
				.image-1 {
					position: relative;
					
					&::after {
						content: url(/figma/images/arrow2.svg);
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%) rotate(135deg);
					}
				}
				
				.image-2 {
					position: relative;
					
					&::after {
						content: url(/figma/images/arrow3.svg);
						position: absolute;
						top: 10%;
						left: 50%;
						transform: rotate(90deg);
					}
				}
				
				.image-3 {
					position: relative;
					
					&::after {
						content: url(/figma/images/arrow1.svg);
						position: absolute;
						top: 55%;
						right: 55%;
					}
				}
			}
		}
		
		.section {
			background-color: $color-white;
			margin-top: 160px;
			
			.title {
				font-family: 'Epilogue';
				font-weight: 600;
				font-size: 32px;
				line-height: 37px;
				text-align: center;
				margin-bottom: 55px;
			}

			.container {
				display: flex;
				gap: 45px;
				justify-content: center;
				flex-wrap: wrap;
			}
		}
		
		.section-works {
			
			&__box {
				max-width: 330px;
				
				img {
					max-width: 100%;
				}
				
				h3 {
					font-family: Epilogue;
					font-size: 20px;
					font-weight: 600;
					line-height: 30px;
					text-align: left;
					margin: 25px 0 10px 0;
				}
				
				p {
					font-family: 'Epilogue';
					font-style: normal;
					font-weight: 400;
					font-size: 17px;
					line-height: 27px;
				}
			}
		}
		
		.section-comments {
			
			&__review {
				max-width: 330px;
				background-color: #F3F3F3;
				padding: 25px;
				
				.text {
					
					p {
						font-family: Epilogue;
						font-size: 20px;
						font-weight: 600;
						line-height: 30px;
						text-align: left;
					}
				}
				
				.clients {
					margin-top: 134px;
					display: flex;
					gap: 17px;
					
					.evaluation {
						
						p {
							max-width: 135px;
							font-family: Epilogue;
							font-size: 17px;
							font-weight: 400;
							line-height: 27px;
							text-align: left;
						}
					}
				}
			}
		}
	}
}

.footer {
	margin-top: 160px;
	
	&__container {
		background-color: $color-white;
		max-width: 1180px;
		margin: auto;
		// margin: 160px auto 0;
		padding: 0 20px;
		
		display: flex;
		gap: 190px;
		justify-content: center;
		flex-wrap: wrap;
	}
	
	&__information {
		
		.text {
			
			h2 {
				font-family: Epilogue;
				font-size: 32px;
				font-weight: 600;
				line-height: 42px;
				text-align: left;
				margin-bottom: 35px;
			}
			
			P {
				font-family: Epilogue;
				font-size: 17px;
				font-weight: 400;
				line-height: 27px;
				text-align: left;
				max-width: 360px;
			}
		}
		
		.icons {
			display: flex;
			gap: 19px;
			align-items: center;
			margin-top: 55px;

			img {
				width: 30px;
			}
		}
	}

	&__form {
		
		.user-data {
			display: flex;
			flex-direction: column;
			gap: 18px;
			
			.info {
				background-color: #F3F3F3;
				width: 530px;
				height: 70px;
				padding: 20px;
				
				font-family: Epilogue;
				font-size: 17px;
				font-weight: 400;
				line-height: 27px;
				text-align: left;
			}
			
			.textarea {
				height: 215px;
			}
		}
		
		button {
			background-color: $color-black;
			width: 235px;
			height: 80px;
			margin-top: 43px;
			
			font-family: Epilogue;
			font-size: 20px;
			font-weight: 600;
			line-height: 30px;
			text-align: center;
			color: $color-white;
			
			&:hover {
				text-decoration-line: underline;
				text-decoration-color: rgb(196, 196, 196);
			}
		}
	}
}
