@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;600&family=Raleway:wght@300;400;700&family=Roboto+Serif:ital,opsz,wght@1,8..144,100;1,8..144,200&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

textarea {
  resize: none;
}

html {
  height: 100%;
}
html body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header .container-header {
  background-color: #FFFFFF;
  margin: auto;
  max-width: 1280px;
  height: 80px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 375px) {
  .header .container-header {
    justify-content: center;
  }
}
.header__logo {
  color: #2D2D2D;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
@media (max-width: 375px) {
  .header__logo {
    align-items: center;
  }
}
.header__link {
  display: flex;
  gap: 50px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
@media (max-width: 375px) {
  .header__link {
    display: none;
  }
}
.header__link a {
  color: #2D2D2D;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
}

main {
  flex: 1 1 auto;
}
main .container-main {
  background-color: #FFFFFF;
  max-width: 1180px;
  margin: auto;
  padding: 0 20px;
}
main .container-main .section-headline {
  background: #FFFFFF;
  margin-top: 93px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 375px) {
  main .container-main .section-headline {
    flex-direction: column;
    gap: 70px;
  }
}
main .container-main .section-headline__text {
  max-width: 463px;
}
main .container-main .section-headline__text p {
  font-family: Epilogue;
  text-align: left;
}
main .container-main .section-headline__text p:first-child {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
@media (max-width: 375px) {
  main .container-main .section-headline__text p:first-child {
    text-align: center;
  }
}
main .container-main .section-headline__text p:nth-child(2) {
  font-size: 100px;
  font-weight: 600;
  line-height: 102.5px;
  margin: 46px 0 50px 0;
}
@media (max-width: 375px) {
  main .container-main .section-headline__text p:nth-child(2) {
    text-align: center;
    max-width: 320px;
    font-size: 65px;
    line-height: 66px;
  }
}
main .container-main .section-headline__text p:last-child {
  max-width: 417px;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
}
@media (max-width: 375px) {
  main .container-main .section-headline__text p:last-child {
    text-align: center;
    line-height: 27px;
  }
}
main .container-main .section-headline__image {
  position: relative;
}
main .container-main .section-headline__image .img::before {
  content: url(/figma/images/arrow3.svg);
  position: absolute;
  z-index: 3;
  right: 330px;
  top: 23px;
}
main .container-main .section-headline__image .img::after {
  content: url(/figma/images/arrow.png);
  position: absolute;
  left: 342px;
  top: 463px;
}
main .container-main .section-headline__image .decorator-img {
  position: absolute;
}
main .container-main .section-headline__image .decorator-img:first-child {
  left: 298px;
  bottom: 435px;
}
main .container-main .section-headline__image .decorator-img:last-child {
  bottom: 64px;
  right: 346px;
}
main .container-main .section-social {
  background-color: #FFFFFF;
  margin-top: 160px;
}
main .container-main .section-social__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 20px;
}
main .container-main .section-products {
  background-color: #FFFFFF;
  margin-top: 160px;
  display: flex;
  justify-content: center;
  gap: 140px;
  flex-wrap: wrap;
  align-items: center;
}
main .container-main .section-products__box {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
main .container-main .section-products__box .caption {
  font-family: Epilogue;
  font-size: 27px;
  font-weight: 600;
  line-height: 42px;
  margin: 63px 0 19px 0;
}
main .container-main .section-products__box p {
  max-width: 250px;
  font-family: Epilogue;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
}
main .container-main .section-products__box img {
  height: 130px;
}
main .container-main .section-products__box .image-1 {
  position: relative;
}
main .container-main .section-products__box .image-1::after {
  content: url(/figma/images/arrow2.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
}
main .container-main .section-products__box .image-2 {
  position: relative;
}
main .container-main .section-products__box .image-2::after {
  content: url(/figma/images/arrow3.svg);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: rotate(90deg);
}
main .container-main .section-products__box .image-3 {
  position: relative;
}
main .container-main .section-products__box .image-3::after {
  content: url(/figma/images/arrow1.svg);
  position: absolute;
  top: 55%;
  right: 55%;
}
main .container-main .section {
  background-color: #FFFFFF;
  margin-top: 160px;
}
main .container-main .section .title {
  font-family: "Epilogue";
  font-weight: 600;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  margin-bottom: 55px;
}
main .container-main .section .container {
  display: flex;
  gap: 45px;
  justify-content: center;
  flex-wrap: wrap;
}
main .container-main .section-works__box {
  max-width: 330px;
}
main .container-main .section-works__box img {
  max-width: 100%;
}
main .container-main .section-works__box h3 {
  font-family: Epilogue;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  margin: 25px 0 10px 0;
}
main .container-main .section-works__box p {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
}
main .container-main .section-comments__review {
  max-width: 330px;
  background-color: #F3F3F3;
  padding: 25px;
}
main .container-main .section-comments__review .text p {
  font-family: Epilogue;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}
main .container-main .section-comments__review .clients {
  margin-top: 134px;
  display: flex;
  gap: 17px;
}
main .container-main .section-comments__review .clients .evaluation p {
  max-width: 135px;
  font-family: Epilogue;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}

.footer {
  margin-top: 160px;
  padding-bottom: 100px;
}
.footer__container {
  background-color: #FFFFFF;
  max-width: 1180px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  gap: 190px;
  justify-content: center;
  flex-wrap: wrap;
}
.footer__information .text {
  max-width: 360px;
}
.footer__information .text h2 {
  font-family: Epilogue;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  margin-bottom: 35px;
}
.footer__information .text P {
  font-family: Epilogue;
  font-size: 17px;
  line-height: 27px;
}
.footer__information .icons {
  display: flex;
  gap: 19px;
  align-items: center;
  margin-top: 55px;
}
.footer__information .icons a {
  display: block;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.footer__information .icons svg {
  width: 30px;
}
.footer__form {
  min-width: 530px;
}
.footer__form .user-data {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer__form .user-data .info {
  background-color: #F3F3F3;
  padding: 20px;
  font-family: Epilogue;
  font-size: 17px;
  line-height: 27px;
}
.footer__form .user-data .textarea {
  height: 215px;
}
.footer__form button {
  background-color: #2D2D2D;
  padding: 25px 82px;
  margin-top: 43px;
  font-family: Epilogue;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}
.footer__form button:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: rgb(196, 196, 196);
          text-decoration-color: rgb(196, 196, 196);
}