body{
	font-family: 'Raleway', 'Arial', sans-serif;
	/* font family 'Roboto Serif', 'Arial', serif; */
	color: rgb(13, 67, 80);
	font-size: 14px;
	line-height: 21px;
}
h3{
	font-weight: 700;
}
h2{
	font-weight: 700;
	font-size: 20px;
	/* lineheight normal; */
}

.photo-2 {
	width: 168px;
	height: 300px;
	transition: 50s;
}

.photo-2:hover {
	transform: rotate(360deg);
}

.page-header{
	background-color: rgb(250, 232, 228);
	width: 1000px;
	margin: auto;
}
.site-navigation{
	font-size: 13px;
	list-style: none;
}
.site-navigation a{
	color: rgb(114, 112, 112);
	font-weight: 700;
	text-transform: uppercase;
	line-height: 16px;
	text-decoration: none;
	transition: 0.3s ease;
}
.site-navigation a:hover {
	color: #000;
	margin-left: 20px;
}
.features-list{
	list-style: none;
}
.features-list-item h3 {
	color: rgb(53, 15, 54);
	line-height: 17px;
	list-style: none;
}
.team-list{
	list-style: none;
}
.team-list-name{
	font-size: 22px;
	line-height: 26px;
	color: rgb(51, 75, 57);
}
.team-list-occupation{
	font-size: 13px;
	line-height: 16px;
	color: rgb(192, 65, 65);
}
.page-footer{
	background-color: rgb(250, 232, 228);
}
.location-name{
	text-transform: uppercase;
}
.socials-name{
	text-transform: uppercase;
}
.download{
	text-transform: uppercase;
}