@import 'null.scss';

$color: rgb(194, 198, 202);

// header style

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 1 auto;
	margin-top: 84px;
}

.header {
	background-color: $color;
	position: fixed;
	z-index: 10;
	width: 100%;

	&__width {
		max-width: 1200px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 45px;
		margin: 0 auto;
		height: 84px;
	}

	&__logo {
		width: 220px;
		height: 84px;
		display: block;

		img {
			max-width: 100%;
		}
	}

	&__navigation {
		display: flex;
		gap: 20px;

		font-size: 17px;
		line-height: 20px;
		text-transform: uppercase;

		a {
			color: #000;
			&:hover {
				color: rgb(255, 255, 255);
				transition: 0.2s ease;
			}
		}
	}
}

// main style

h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	margin: 45px 0;
}

.gallery {

	img {
		width: 210px;
		height: 270px;
	}

	&__list {
		flex-wrap: wrap;
		display: flex;
		justify-content: center;
		gap: 70px;
	}

	&__item {
		width: 220px;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;

		p {
			text-align: center;
			margin: 15px 0;
		}
	}
}

svg {
	fill: #000;
	width: 30px;

	&:hover {
		fill: $color;
		transition: 0.2s ease;
	}
}

.icons {
	display: flex;
	gap: 20px;
	align-items: center;
}

// footer style

.footer {
	// background-color: rgb(219, 221, 223);
	// height: auto;
	// width: 100%;
	// margin-top: 100px;
	// // padding: 20px 0;

	// &__container {
	// 	max-width: 100%;
	// 	display: flex;
	// 	justify-content: center;
	// 	gap: 0 20px;
	// 	// padding-top: 20px;	
	// }

	.title {
		margin: 20px 0;
		text-transform: uppercase;
		text-align: center;
		// font-weight: 700;
	}

	& .width {
		width: 600px;
		// border: 2px solid #000;
		// text-align: center;
	}

	// &__location {
	// 	text-align: center;
	// }

	// &__social {
	// 	text-align: center;
	// }

	// &__form {
	// 	// text-align: center;
	// }

	// &__button {
	// 	padding-left: 100px;
	// }

	&__icons {
		display: flex;
		gap: 20px;
		align-items: center;
		justify-content: center;
		margin-top: 15px;
	}

	// .content {
	// 	line-height: 17px;
	// }

	// .li {
	// 	justify-content: center;
	// }



	// &__location {
	// 	text-align: center;
	// }
}




.footer {
	background-color: $color;
	width: 100%;
	margin-top: 100px;

	&__container {
		height: auto;
		max-width: 1200px;
		display: flex;
		// justify-content:center;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
	}
}