body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.header {
  background-color: rgb(194, 198, 202);
  position: relative;
  height: 84px;
  width: 100%;
}
.header__navigation {
  position: absolute;
  display: flex;
  gap: 20px;
  right: 100px;
  top: 30px;
}

.header__logo {
  position: absolute;
  width: 220px;
  height: 84px;
  left: 30px;
}

.header__navigation {
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
}
.header__navigation a {
  color: #000;
}
.header__navigation a:hover {
  color: rgb(255, 255, 255);
  transition: 0.2s ease;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin: 45px 0;
}

.gallery img {
  width: 210px;
  height: 270px;
}
.gallery__list {
  display: flex;
  justify-content: center;
  gap: 70px;
}
.gallery__item {
  width: 220px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery__item p {
  text-align: center;
  margin: 15px 0;
}

.gallery__item {
  width: 220px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery__item p {
  text-align: center;
  margin: 15px 0;
}

svg {
  fill: #000;
  width: 30px;
}
svg:hover {
  fill: rgb(194, 198, 202);
  transition: 0.2s ease;
}

.icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

footer {
  background-color: rgb(219, 221, 223);
  height: auto;
  width: 100%;
  padding: 20px 0;
}
footer .location {
  text-align: center;
}